<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
Login Page
<hr>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="id">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Login">
</form>
외부 인증
<hr>
<a href="http://localhost:8080/oauth2/authorization/naver">Naver</a>
<a href="http://localhost:8080/oauth2/authorization/google">Google</a>
<a href="http://localhost:8080/oauth2/authorization/github">Github</a>
</body>
</html>